<%- include('partials/header') %>

  <body class="bg-light">
    <nav class="navbar fixed-top navbar-dark bg-dark">
  <a class="navbar-brand mr-auto mr-lg-0" href="#">VACINEED ADMIN DASHBOARD</a>
  <div style="text-align: right;" ><a class="btn btn-light" href="/logout" role="button">Log Out</a></div>
</nav>

<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    <a class="nav-link" href="/admin">Dashboard</a>
    <a class="nav-link" href="/users_list">Users List</a>
    <a class="nav-link" href="/stock">Available Stock</a>
    <a class="nav-link" href="/admin_list">Emergency Users List</a>

  </nav>
</div>

<main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
    <div class="lh-100">
      <h4 class="mb-0 text-white lh-100">Available Stock</h4>
    </div>
  </div>

  <div class="my-3 p-3 bg-white">
    <table class="table">
        <thead>
          <tr>
            <th>Available Stock</th>
            <th>Total Registrations(including Emergency List)</th>
            <th>Upcoming Stock</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%=stock[0].available%> units</td>
            <td><%=need%> units</td>
            <td><%=stock[0].upcoming%> units</td>
          </tr>
        </tbody>
      </table>
  </div>

  
</main>

<%- include('partials/footer') %>
